{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Memory Game{% endblock %}</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Estilos globales -->
  <link rel="stylesheet" href="{% static 'memory_game/css/global.css' %}">
  
  {% block extra_css %}{% endblock %}
</head>
<body class="app-body">

  <!-- 🧭 Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #031d38;">
    <div class="container d-flex justify-content-between align-items-center">
      <a class="navbar-brand fw-bold mb-0 h1" href="{% url 'index' %}">Juego de Memoria</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto d-flex flex-row">
          {% if user.is_authenticated %}
            <li class="nav-item me-3"><a href="{% url 'perfil' %}" class="nav-link text-light">Perfil</a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link text-light">Cerrar Secion</a></li>
          {% else %}
            <li class="nav-item me-3"><a href="{% url 'login' %}" class="nav-link text-light">Iniciar sesión</a></li>
            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link text-light">Registrarse</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br>

  <!-- 📄 Contenido -->
  <div class="container py-4">
    {% block content %}{% endblock %}
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
