{% extends 'memory_game/base.html' %}
{% block title %}Inicio{% endblock %}
{% load static %}

{% block content %}
   <div class="center-box">
        <h1 class="mb-4 text-light"><img src="{% static 'memory_game/icono.svg' %}" alt="Mi icono" width="50" height="50"> Memory Game</h1>
        {% if user.is_authenticated %}
        <p class="text-light">Bienvenido, {{ user.username }} 👋!</p>
       
        {% if nivel %}
   
        <p class="mt-3 text-light">🎮 Nivel actual: <strong>{{ nivel|title }}</strong></p>
        <a href="{% url 'juego' %}" class="btn btn-success nivel-btn">Comenzar Juego</a><br>
        <a href="{% url 'seleccion_nivel' %}" class="btn btn-warning  nivel-btn">Seleccionar Nivel</a>
         <a href="{% url 'perfil' %}" class="btn btn-info  nivel-btn">Ver Perfil</a>

        {% else %}
        
        <a href="{% url 'seleccion_nivel' %}" class="btn btn-warning nivel-btn">Seleccionar Nivel</a>
        <a href="{% url 'perfil' %}" class="btn btn-info nivel-btn">Ver Perfil</a>
        {% endif %}

        <br>

        <a href="{% url 'logout' %}" class="btn btn-danger nivel-btn">Cerrar sesión</a>
        {% else %}
         <p>Bienvenido 👋!</p>
        <a href="{% url 'login' %}" class="btn btn-primary nivel-btn">Iniciar Sesión</a>
        <a href="{% url 'register' %}" class="btn btn-success nivel-btn">Registrarse</a>
        {% endif %}
    </div>

{% endblock %}
