body {
  font-family: 'Poppins', sans-serif;   
  padding-top: 120px;          /* Ocupa toda la altura de la pantalla */
}

body.app-body {
  background-image: url("../img/fondos/azul2.jpg");
  background-size: cover;        /* La imagen ocupa todo el contenedor */
  background-position: center;   /* Centrada */
  background-repeat: no-repeat;  /* No se repite */
  min-height: 100vh;             /* Ocupa toda la altura de la pantalla */
}

/* Cards generales */
.card {
  border-radius: 15px;
  overflow: hidden;
}

.card-header {
  font-weight: 600;
  letter-spacing: 1px;
}

.card-body {
  background-color: #2c2c3a; /* fondo oscuro elegante */
  color: #fff;
}



/* Botones y textos */
.btn {
  border-radius: 12px;
  font-weight: 600;
}

/* Centrado vertical */
.center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
}
/* 游꿡 Estilo de botones del men칰 principal */
.nivel-btn {
  width: 90%;              /* ancho casi completo en m칩vil */
  max-width: 400px;        /* l칤mite de ancho en pantallas grandes */
  font-size: 1.3rem;       /* texto grande */
  padding: 15px 0;         /* m치s altura para el bot칩n */
  border-radius: 12px;     /* bordes suaves */
  font-weight: 600;        /* texto m치s fuerte */
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.nivel-btn-small {
  font-size: 0.9rem;
  padding: 8px 0;
  max-width: 250px;
}

/* efecto hover */
.nivel-btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

/* efecto hover */
.nivel-btn-small:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.navbar {
  padding: 1rem; /* controla la altura con padding */
}






